#app-grid {
    layout: grid;
    grid-size: 2;
    grid-columns: 25 1fr; /* 25 character, remaining fractional */
    grid-rows: 1fr;
}

#sidebar-vertical {
    height: 100%;
    background: $panel;
    border: dodgerblue;
}

#right-section {
    width: 100%;
    height: 100%;
    background: $panel;
    border: dodgerblue;
}

#user-list-widget {
    height:1;
}

#worklists-container-sub {
    height: 1fr;
    margin: 1;
}

#worklist-input {
    height: 1;
}

#task-item-container {
    height: 1fr;
}


.worklist-item {
    height: 3;
    width: 90%;
    content-align: center middle;
}

.worklist-item-button {
    height: 3;
    content-align: left middle;
}


TaskItem {
    layout: horizontal;
    background: $boost;
    height: 5;
    margin: 1;
    min-width: 50;
    padding: 1;
}

.task-words {
    content-align: left middle;
    height: 3;
    width: 5fr;
}

.task-date {
    content-align: center middle;
    height: 3;
    width: 1fr;
}

.task-checkbox {
    content-align: right middle;
    height: 3;
    width: 1fr;
}

.task-checkbox {
    content-align: right middle;
    height: 3;
    width: 1fr;
}
